.Sale {
  font-size: 1.29vw;
  width: 100vw;
  min-height: 90vh;

  & .others {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 1vw;
    padding: 0 1vw;
    width: 100%;

    & p {
      font-size: 1.1vw;
      font-weight: 450;
    }

    & .id {
      & span {
        color: var(--lgray);
        font-size: 1vw;
      }
    }

    & .price {
      & span {
        color: rgb(34, 197, 34);
        font-size: 1vw;
      }
    }

    & .date {
      color: var(--lgray);
    }
  }

  & .elements {
    & h1 {
      font-size: 1.2vw;
      font-weight: 450;
      color: var(--lgray);
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .Sale {
    & .others {
      & p {
        font-size: 1.4vh;
      }

      & .id {
        & span {
          font-size: 1.2vh;
        }
      }

      & .price {
        & span {
          font-size: 1.2vh;
        }
      }
    }

    & .elements {
      & h1 {
        font-size: 1.4vh;
      }
    }
  }
}