.Dashboard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 100vw;

  & header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2vh 1vw;

    & h1 {
      font-size: 1.29vw;
      font-weight: 450;
      color: var(--lgray);
    }

    & .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & div {
        display: flex;
        gap: 0 0.5vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Dashboard {
    & header {
      gap: 1vh 0;
      & h1 {
        font-size: 2vh;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .Dashboard {
    & header {
      gap: 1vh 0;
      & h1 {
        font-size: 1.6vh;
      }
    }
  }
}